#Base Installation
openmdao == 3.15.0
ruamel.yaml >= 0.16
plasmapy >= 0.7.0
numpy >= 1.21.0

#Docs Installation
docutils<0.17,>=0.15
nbclient<0.6,>=0.2
sphinx >= 4.4.0
jupyter-sphinx==0.3.2
Jinja2<3.1
sphinxcontrib-bibtex >= 2.3
jsonschema < 4
sphinx_rtd_theme
